<div ng-controller="QuestionController">
	<form ng-if="true" name="answerAddForm">
	
		<div>
			<label for="text">Text:</label>&nbsp;
			<input type="text" ng-model="answer.text" required/>
		</div>
		<br/>
		
		<div>
			<label for="author">Author:</label>&nbsp;
			<input type="text" ng-model="answer.author" required/>
		</div>
		<br/>
		
		<div>
			<label for="date">Date:</label>
			<input type="date" ng-model="answer.date" required/>
		</div>
		
		<br/>
		<button id="postAnswerDataBtn" ng-click="onPostAnswerDataRequested(answer, answerForm)">Post Answer Data</button>
		
	</form>
</div>