<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Site - {{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    {{#if emailsVisible}}
      <h3>E-mails:</h3>
      <ul>
        {{#each emails}}
          <li>{{ this }}</li>
        {{/each}}
      </ul>
    {{/if}}
    <h3>Phone: {{ phone }}</h3>
  </body>
</html>
