<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebSite - <%= title %></title>
  </head>
  <body>
    <%- include('partials/menu'); %>
    <h1>Welcome to Home Page</h1>
    <%- include('partials/footer'); %>
</body>
</html>
