<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue - Components: Callbacks Passing</title>
    </head>

    <body>
        
        <div id="app">

            <user-form 
                v-bind:users="users"
                v-bind:addfn="addUser"
            >
            </user-form>

            <user-item 
                v-for="(user, index) in users" 
                v-bind:user="user" 
                v-bind:index="index"
                v-bind:deletefn="deleteUser"
            >
            </user-item>
        
        </div>

        <script type="text/javascript" src="http://unpkg.com/vue@next"></script>

        <script>  

            Vue.createApp({
                
                data() {

                    return {

                        users: [
                            { name: 'Ruslan', age: 25 },
                            { name: 'Andrey', age: 29 },
                            { name: 'Sergey', age: 34 }
                        ]
                    }
                },

                methods: {

                    addUser(newUser)
                    {
                        this.users.push(newUser);
                    },

                    deleteUser(userIndex)
                    {
                        this.users.splice(userIndex, 1);
                    }
                },

                components: {

                    userForm: {

                        props: ['users', 'addfn'],

                        data() {

                            return {

                                name: undefined, 
                                age: undefined 
                            }
                        },

                        template: `<div>
                                   <p>
                                   <label>Name:</label>
                                   &nbsp;
                                   <input type="text" v-model="name" />
                                   </p>
                                   <p>
                                   <label>Age:</label>&nbsp;
                                   <input type="number" min="1" max="100" v-model="age" />
                                   </p>
                                   <p><button v-on:click="addfn({ name: name, age: age })">Add User</button></p>
                                   </div>`
                    },

                    userItem: {

                        props: ['user', 'index', 'deletefn'],
                        template: `<div>
                                    <p>Name: {{ user.name }}</p>
                                    <p>Age: {{ user.age }}</p>
                                    <p><button v-on:click="deletefn(index)">Delete</button></p>
                                   </div>`
                    }
                }
            })
            .mount('#app');

        </script>

    </body>

</html>