<!doctype html>
<html ng-app="questionApp">
	<head>
	
		<meta charset="utf-8">
		<title>AngularJS - Services: $http and ajax queries</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		
	</head>
	
	<body ng-controller="questionController">
		
		<button id="loadQuestionDataBtn" ng-click="onQuestionDataRequested()">Load Question Data</button>
		<br/>
		<form ng-if="question !== undefined" name="answerAddForm">
			<div>
				<label for="text">Text:</label>&nbsp;
				<input type="text" ng-model="answer.text" required/>
			</div>
			<br/>
			<div>
				<label for="author">Author:</label>&nbsp;
				<input type="text" ng-model="answer.author" required/>
			</div>
			<br/>
			<div>
				<label for="date">Date:</label>
				<input type="date" ng-model="answer.date" required/>
			</div>
			<br/>
			<button id="postAnswerDataBtn" ng-click="onPostAnswerDataRequested(answer, answerForm)">Post Answer Data</button>
		</form>
			
		<div ng-class="questionBlockClass" 
		     ng-mouseover="changeQuestionBlockClass($event)" 
			 ng-mouseenter="changeQuestionBlockClass($event)"
			 ng-mouseleave="changeQuestionBlockClass($event)"
		>
			<h3>{{ question.text }}</h3>
			<p><b>Author: {{ question.author }}</b></p>
			<p><i>Date: {{ question.date }}</i></p>
		</div>
		
		<div ng-if="question !== undefined">
			<answer-list source="question"/>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/questionHTTPService.js"></script>
		<script src="js/controllers/questionHTTPController.js"></script>
		<script src="js/directives/answerListDirective.js"></script>
		
	</body>
	
</html>